 /*Caitlin Huber
FolderId: Caitlin115 */
 
 body {
	background-image: url(background.jpg);
	color: #6C6C00;
	font-family: Georgia, tahoma, "Palatino Linotype";
	text-align: center;
	
 }
 
 
 
 p{	
	font-size: 1.18em;
 }
 